html
{
    background-color: #1f1f1f;
}

@font-face {
    font-family: outfit;
    src: url("font.ttf");
}

input[type="text"]
{
    font-family: outfit;
    font-size: 16pt;
    color: #000000;
    background-color: #bcf5c4;
    border: 1px solid #bcf5c4;
}

select
{
    font-family: outfit;
    font-size: 16pt;
    color: #000000;
    background-color: #bcf5c4;
    border: 1px solid #bcf5c4;
    padding: 2px;
    appearance: none;
}

option
{
    font-family: outfit;
    font-size: 16pt;
    color: #000000;
    background-color: #bcf5c4;
}

button
{
    font-family: outfit;
    font-size: 16pt;
    background-color: #bcf5c4;
    border: 1px solid #000000;
}

h1
{
    font-family: outfit;
    font-size: 40pt;
    color: #ffffff;
}

h3
{
    font-family: outfit;
    font-size: 20pt;
    color: #ffffff;
}

p
{
    font-family: outfit;
    font-size: 16pt;
    color: #ffffff;
}

table
{
    font-family: outfit;
    font-size: 16pt;
}

th, td 
{
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
}

a:link
{
    color: #ffffff;
    text-decoration: none;
}

a:visited
{
    color: #ffffff;
    text-decoration: none;
}

a:hover
{
    color: #ffffff;
    text-decoration: none;
}